/Advent of Code/.vs
/Advent of Code/Debug
/Advent of Code/x64
/Advent of Code/Advent of Code.sln
/Advent of Code/Advent of Code.vcxproj
/Advent of Code/Advent of Code.vcxproj.filters
/Advent of Code/Advent of Code.vcxproj.user